tipos-variaveis/.vscode/settings.json
tipos-variaveis/bin/TiposVariaveis.class
tipos-variaveis/bin/Operadores.class
tipos-variaveis/bin/IncrementoDecremento.class
tipos-variaveis/bin/OperadorTernario.class
tipos-variaveis/bin/OperadoresLogicos.class
metodos/bin/App.class
